.titles {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  /* font-weight: 200; */
  margin-right: 1rem;
}

.title-logo {
  margin: auto 3rem;
  font-weight: 200;
}

.letter-red {
  color: #f7484d;
}

.letter-red-light {
  color: #f08286;
  font-weight: 600;
}
.first-box {
  background: #00000075;
}

.position1 {
  position: absolute;
  transform: translateY(-50%);
  top: 20%;
  margin-left: 10%;
  font-size: 2.5rem;
}

.position2 {
  position: absolute;
  transform: translateY(-50%);
  top: 35%;
  margin-left: 10%;
}

.position2 span:first-child {
  font-size: 3rem;
}

.name {
  /* font-family: "Kaushan Script", cursive; */
  font-size: 5rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #faf6f6ea;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-shadow: 1px -1px 0 #9490908e, -1px 2px 1px #47464673,
    -2px 4px 1px #1616164d, -3px 6px 1px #0f0f0f28;
}

.position3 {
  position: absolute;
  transform: translateY(-40%);
  top: 50%;
  margin-left: 10%;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.photo {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.container .row {
  margin: 0;
}

.container {
  max-width: 100%;
}

.full-width {
  width: 100%;
}

#about,
#first {
  height: 100vh;
}

#contact {
  height: 92vh;
}

@media (max-width: 720px) {
  #about {
    height: auto;
  }
  .position1 {
    transform: translateY(-50%);
    top: 20%;
    margin-left: 10%;
    font-size: 2.5rem;
  }

  .position2 {
    position: absolute;
    transform: translateY(-50%);
    top: 37%;
    margin-left: 10%;
  }

  .position2 span:first-child {
    font-size: 3rem;
  }

  .position3 {
    transform: translateY(-40%);
    top: 47%;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: 800;
  }
  .name {
    font-size: 3rem;
    letter-spacing: 0.1em;
    font-weight: 800;
  }
  .title-logo {
    margin: auto;
  }
}

#about,
#skills,
#portfolio,
#contact {
  font-family: "Dosis", sans-serif;
}

#skills,
#portfolio {
  padding-bottom: 3.5rem;
}

#skills,
#contact {
  background-color: #292929;
}

#contact {
  padding-top: 2.4rem;
}

.transparent {
  background-color: transparent;
}

.uppercase {
  text-transform: uppercase;
}

div.progress {
  background-color: rgb(230, 136, 139);
  height: 0.5rem;
  margin-top: 0;
}

div.progress .determinate {
  background-color: #f7484d;
}

.row.pad {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.project-size {
  font-size: 2rem;
}

.project-btn {
  border: 1px solid #f7484d;
  background-color: #fff;
  color: #f7484d;
}

a.project-btn:hover {
  background-color: #f7484d;
  color: #fff;
}

div.img-box {
  padding: 1rem 3rem !important;
}

nav .button-collapse {
  margin: 0;
}

.project-about {
  padding-left: 3rem;
  padding-right: 3rem;
}

.text-size {
  font-size: 1.3rem;
}

.container-box {
  padding-left: 3rem;
  padding-right: 3rem;
}

#contact p {
  font-size: 1.5rem;
}
#contact div.contact {
  padding-top: 7rem;
}

footer {
  height: 8vh;
  background-color: #f7484d;
  font-size: 1.2rem;
  padding-top: 1rem;
}

@media (max-width: 900px) {
  .container-box {
    padding-left: 0;
    padding-right: 0;
  }
  #contact div.contact {
    padding-top: 3rem;
  }
  #contact {
    height: auto;
  }

  footer div {
    font-size: 1rem;
  }
}

.transparence {
  background-image: url("../assets/images/portt.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Dosis", sans-serif;
  color: #fff;
}

.padd-title {
  margin: 3.5rem;
}

.bold-par {
  font-weight: 600;
}

ul li {
  font-size: 1.4rem;
}

.badges {
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  /* color: #fff; */
  filter: grayscale(50%); 
}

.badges-box p {
  font-size: 1.3rem;
}

a.icon-hamburguer {
  margin-left: 1rem;
}
